.album-grid {
  display: grid;
  grid-gap: 0.5%;
}

.album {
  width: 100%;
}

.album img {
  position: relative;
  width: 100%;
  -webkit-transition: scale .2s;
  transition: scale .2s;
  cursor: pointer;
}

@media (pointer: fine) {
  .album img:hover {
    scale: 1.3;
    z-index: 1;
  }
}
